/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    background-color: rgb(27, 107, 172);
    color: white;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.button,
.deleteNoteButton {
    background-color: white;
    margin: 0 10px 0 20px;
    font-size: 16px;
    line-height: 20px;
    border: 1px solid black;
    padding: 10px 18px;
	cursor: pointer;
	min-width: 100px;
}

#sidebar-button {
	margin: 0 10px;
	text-decoration: none;
	color: black;
}

.deleteNoteButton {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.formContainer {
    font-size: 30px;
    margin: 30px 10%;
    padding: 20px;
    border: 1px solid lightgray;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
}

.label {
    font-size: 22px;
}

#formButtons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.formInputs {
    display: flex;
    align-items: center;
    justify-content: center;
}

.formInputs > input,
.formInputs > select,
.formInputs > textarea {
    padding: 10px 18px;
    margin: 20px 10px;
    font-size: 16px;
    line-height: 20px;
}